* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pfvideo-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #CCFFCC;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.home {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.message {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.mypage {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

$backWidth: 512px; $backHeight: 432px;
$bushesWidth: 508px; $bushesHeight: 79px;
$groundWidth: 68px; $groundHeight: 22px;
$marioWidth: 30px; $marioHeight: 54px;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  background-image:
    url('https://github.com/Kageetai/mario-background-parallax/blob/master/img/mario.gif?raw=true'),
    url('https://github.com/Kageetai/mario-background-parallax/blob/master/img/ground.png?raw=true'),
    url('https://github.com/Kageetai/mario-background-parallax/blob/master/img/bushes.png?raw=true'),
    url('https://raw.githubusercontent.com/Kageetai/mario-background-parallax/master/img/back.png?raw=true');
  background-color: #F8E0B0;
  background-repeat:
    no-repeat,
    repeat-x,
    repeat-x,
    repeat-x;
  background-position:
    left 30% bottom $groundHeight,
    left 0px bottom 0px,
    left 0px bottom $groundHeight,
    left 0px bottom 0px;
  animation: back 15s infinite linear;
}

@keyframes back {
  0% {
    background-position:
      left 30% bottom $groundHeight,
      left 0px bottom 0px,
      left 0px bottom $groundHeight,
      left 0px bottom 0px;
  }
  50% {
    background-position:
      left 50% bottom $groundHeight,
      left (-($groundWidth * 12)) bottom 0px,
      left (-($bushesWidth * 1)) bottom $groundHeight,
      left (-($backWidth / 2)) bottom 0px;
  }
  100% {
    background-position:
      left 30% bottom $groundHeight,
      left (-($groundWidth * 24)) bottom 0px,
      left (-($bushesWidth * 2)) bottom $groundHeight,
      left (-$backWidth) bottom 0px;
  }
}

.greeting{
   margin-bottom: 20px;
   flex-wrap: wrap;
   display: flex;
   justify-content: center;
}
.new_tweet{
  text-decoration: none;
  font-size: 30px;
  color: #333333;
  padding-top: 50px;
}

.tweet-lists {
  width: 100vw;
  display: flex;
  align-content: flex-start;
}

.card_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 400px);
}
.card {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
}
.tweet_img {
  margin-bottom: 16px;
}
.tweet_title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333333;
}

.tweet_user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}
//  tweet btn //
.shadow {
  margin-top: 30px;
  width:120px;
  font-size:20px;
  color:#333333;
  text-align:center;
  display:block;
  padding:10px 0 10px;
  background-color: #CCFFCC;
  border-radius:5px;
  box-shadow:1px 1px #1A6EA0;
  text-decoration: none;
}

