* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pfvideo-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #CCFFCC;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.home {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.message {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.mypage {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.main {
  background: 
  radial-gradient(black 3px, transparent 4px),
  radial-gradient(black 3px, transparent 4px),
  linear-gradient(#fff 4px, transparent 0),
  linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
  linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  width: auto;
  height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh;
}
.greeting{
   margin-bottom: 20px;
   flex-wrap: wrap;
   display: flex;
   justify-content: center;
}
.new_tweet{
  text-decoration: none;
  font-size: 30px;
  color: #333333;
  padding-top: 50px;
}

.tweet-lists {
  width: 100vw;
  display: flex;
  align-content: flex-start;
}

.card_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 400px);
}
.card {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
}
.tweet_img {
  margin-bottom: 16px;
}
.tweet_title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

.tweet_user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}
//  tweet btn //
.shadow {
  margin-top: 30px;
  width:120px;
  font-size:20px;
  color:#333333;
  text-align:center;
  display:block;
  padding:10px 0 10px;
  background-color: #CCFFCC;
  border-radius:5px;
  box-shadow:1px 1px #1A6EA0;
  text-decoration: none;
}


.footer {
  background-color: #999;
  padding: 10px;
  width: 100vw;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}
