
<div id="Container">
<a id="Top" name="Top"></a>
<div class="nonvisual-menu">
<!-- .nonvisual-menu // -->
</div>

<!-- 
//////////////////////////////////////////////////////////////////////////////
Header
//////////////////////////////////////////////////////////////////////////////
--> 
<header id="GlobalHeader">
  <hgroup>
    <h1><a href="#" >PFvideo</a></h1>
  </hgroup>
  <div class="head-inline">
    <div class="navigation">
      <nav>
        <ul id="GlobalNavi">
          <li id="nav-g01"><a href="#">Home</a></li>
          <li id="nav-g02"><a href="#">MyPage</a></li>
          <li id="nav-g03"><a href="#">New Tweet</a></li>
          <li id="nav-g04"><a href="#">Message</a></li>
          <li id="nav-g05"><a href="#">Log Out</a></li>
<!-- #GlobalNavi // -->
        </ul>
      </nav>
<!-- .navigation // -->
    </div>
<!-- .head-inline // -->
  </div>
<!-- #GlobalHeader // -->
</header>


