<div class="main">
  <div class="user_info">
    <p class="user_name">いいね一覧</p>
  </div>  
  <ul class='tweet-lists'>  
    <% current_user.like_tweets.each do |tweet| %>  
      <div class="card_wrapper">
        <div class="card">
          <iframe width="350" height="250" src="https://www.youtube.com/embed/<%= tweet.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card_body">
            <%= link_to tweet.title, tweet_path(tweet.id), class:"tweet_title" %>
            <%= tweet.text%>
            <%= link_to "#{tweet.user.nickname}", user_path(tweet.user_id),class:"tweet_user" %>
          </div>
        </div>
      </div>
    <% end %> 
  </ul>
</div>